.app {
  text-align: center;
}

.currency {
  text-align: left;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}
.select {
  width: 300px;
}

.currency__container{
  padding: 40px;

}